h2{
    color: red;
}
/*클래스 선택자를 쓸때는 .클래스값으로 써야한다.*/
.highlight{
    border: solid;
}       

/*아이디 선택자를 쓸 때는 #아이디값으로 써야한다.*/
#profile{
    border: solid;
    border-color: blue;
}

.thumbnails_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.thumbnails{
    width: 100%;
}

.stat_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;    
}
.stat{
    text-align: center;
}

.circle_pic{
    border: solid white 1px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#profile{
    width: 50px;
    height: 50px;
}

.highlight_pic{
    width: 35px;
    height: 35px;
}
